<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Allsite</title>
  <link rel="stylesheet" href="../static/css/screen.css" >
</head>
<body>
  <div class="content">
    <div class="dates">
      <div>
        <label for="start">Start (YYYY-MM-DD)</label>
        <input type="date" label="start" id="start" maxlength="12"> <br />
      </div>
      <div>
        <label for="end">End (YYYY-MM-DD)</label>
        <input type="date" label="end" id="end" maxlength="12">
      </div>
    </div>
    <div id="members">
        <div class="members-labels">
            <div class="label-name">Name</div><div class="label-airport">Airport Code</div>
            <input type="button" id="add-member" value="add" />
        </div>
    </div>
    <div id="extra-cities">
      <h2> Extra cities <input type="button" id="add-city" value="add" /></h2>
    </div>
    <input type="button" id="search" value="Search!" />
    <div id="results">
    </div>
  </div>
  <script type="text/x-handlebars" id="member">
    <div class="member" id="member-{{!id}}">
      <input class="name" id="member-{{!id}}-name" />
      <input class="airport" id="member-{{!id}}-airport" maxlength="3" />
    </div>
  </script>
  <script type="text/x-handlebars" id="extra-city">
      <div class="extra-city" id="extra-{{!id}}">
        <input id="extra-city-{{!id}}" />
      </div>
    </div>
  </script>
  <script type="text/x-handlebars" id="result">
    {{!#each results}}
    <div class="result">
      <h1>{{!city}}</h1>
      {{!#each result_lines}}
      <div class="result-line">
        <span class="result-name">{{!name}}</span>
        <span class="result-price">{{!price}}</span>
      </div>
      {{!/each}}
      <div class="result-total">
        <span class="total-price">{{!total_price}}</span>
      </div>
    </div>
    {{!/each}}
  </script>
  <script type="text/x-handlebars" id="error">
    <h2>{{!message}}</h2>
  </script>
  <script src="/static/js/libs/jquery-1.10.2.min.js"></script>
  <script src="/static/js/libs/handlebars-v1.3.0.js"></script>
  <script src="/static/js/main.js"></script>
</body>
</html>
